.profilePage{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 8vw;
    color: white;
    background-color: #222;
    background-size: cover;
    background-position: center center;
}

.profilePage .name{
    font-size: 20vw;
}