*{
    box-sizing: border-box;
    font-family: Poppins, sans-serif !important;
}

a{
    text-decoration: none;
}

.back{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 3vw;
    border: 1px solid white;
    padding: 10px 20px;
    background: unset;
    color: white;
    font-family: unset;
}