.thumbnail{
    background: #333;
    color: white;
    height: 33.33vw;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    background-size: cover;
    font-weight: 300 !important;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.85);
    padding: 2px 3px;
}

.thumbnail .name{
    font-size: 4.3vw;
    margin-bottom: 1px;
    letter-spacing: .5px;
}

.thumbnail .distance{
    font-size: 3vw;
    letter-spacing: .5px;
}